@font-face {
    font-family: fnmedium;
    src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: fnlight;
    src: url(../assets/fonts/Poppins-Light.ttf);
}

.form__contact{
    margin: 20px 0px;
    color: #7F7A66;
}
.form-control{
    color: #7F7A66;
    border: 1px solid #7F7A66;
}
.form-control::placeholder{
    color: #7F7A66;
}
.register__error{
    color: red;
    font-family: fnlight;
}
.register__true{
    font-family: fnmedium;
    color:#157347;
}
