.contenedor{
    width: 1080px;
    margin: 0 auto;
}

.container__text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.reservas__section{
    margin: 50px 0px;
}

