.div__admin{
    padding: 180px 0px 0px;
}

.contenedor{
    width: 1200px;
    margin: 0 auto;
}

.container__text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reservas__section{
    margin: 50px 0px;
}
.eliminar{
    color: #ffffff;
}
.table{
    text-align: center;
}
.container__button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}
