.div__admin{
    padding: 180px 0px 0px;
}

.contenedor{
    width: 1200px;
    margin: 0 auto;
}

.container__text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reservas__section{
    margin: 50px 0px;
}
.eliminar{
    color: #ffffff;
}
.table{
    text-align: center;
}
.container__button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}
.modal-title{
    font-family: fnmedium;
    color: #7F7A66;
}
.container__input{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form__label{
    font-size: 1.2rem;
    color: #7F7A66;
    font-family: fnmedium;
}
.form__input{
    border: none;
    font-family: fnlight;
    padding: 2px 10px;
    font-size: 1rem;
    border: 1px solid #7F7A66;
    border-radius: 5px;
    outline: none;
}
